
/*--------------------------------------------------------------
1.0 - Reset default browser CSS v1.0
--------------------------------------------------------------*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{background:#fff;line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}a img{border:0}


body{
    font-family: arial;
    font-size: 15px;
    color: #555;
    line-height: 25px;
}
a {
    color: #393939;
}
div#header {
    height: 80px;
    background: #292929;
}

div#header h1#product_name {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background: #ccc;
    color: #292929;
    float: left;
    margin-left: 100px;
    margin-top: 20px;
}

div#header #shop_logo #logo {
    float: right;
    margin-right: 100px;
    margin-top: 17px;
    width: 150px;
}

#content {
    clear: both;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px
}

h3 {
    font-family: arial;
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #292929;
    font-weight: bold;
    color: #292929;
}
ul{
    padding-left: 20px;

}
ul li {
    margin-bottom: 10px;
    
}
ul#content_list {
    list-style: square;
    margin-bottom: 50px;
}

div.description {
    padding-left: 25px;
    text-align: left;
    margin-bottom: 30px;
}
.screenshot {
    max-width: 98%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #bbb;
}

span.note {
    color: red;
}